.wrapper {
    max-height: 800px;
    max-width: 750px;
    border: 2px solid black;
    overflow-y:auto;
}
.wrapper::-webkit-scrollbar {
    width: 0;
}

.floating {
    float:right;
}

.wrapper .product {
    min-width: 120px;
    width: 700px;
    line-height: 10px;
    text-align: center;
    background-image:linear-gradient(to top,rgb(97, 193, 206),rgb(99, 19, 85));
}

.container3 {
    height: 300px;
    width: 300px;
}

.container1 {
    width: 700px;
    height: 800px;
    background-image: linear-gradient(to bottom,rgb(99, 19, 85),red);
    float: left;
    padding-left:100px;
    margin-left:180px;
}

.new-form {
    font-size: 150%;
    font-weight: bolder;
}

.container2 {
    width: 700px;
    height: 800px;
    background-image: linear-gradient(to top,rgb(97, 193, 206),rgb(99, 19, 85));;
    float: right;
    padding-top: 30px;
    padding-left: 50px;
}

.addButton {
    float: right;
}

ul {
    font-size: 150%;
    font-weight: bolder;
}

.heading {
    text-align: center;
    font-size: 170%;
    height: 70px;
    background-image:linear-gradient(to bottom,rgb(99, 19, 85),rgb(250, 25, 62));
    padding-top: 20px;
    margin-bottom: 1%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 2px;
}

.searchbar {
    text-align: center;
}

input {
    height: 30px;
    width: 25%;
}

button {
    height: 35px;
    width: 10%;
    background-image:linear-gradient(to right,rgb(99, 19, 85),rgb(250, 25, 62));
    font-size: 95%;
    color: bisque;
    font-weight: bolder;
}

button:hover {
    background-image:linear-gradient(to right,rgb(230, 211, 226),rgb(122, 17, 96));
    color:black;
}

.newdiv {
    margin-top: 1%;
}

.image {
    margin-top: 3%;
    margin-left: 10%;
    border-radius: 20%;
}

.productImage {
    height: 20%;
    width: 33%;
}

.modal {
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-image:url("https://www.wallpaperflare.com/static/620/540/1004/red-green-white-abstract-wallpaper.jpg");
    border-radius: 4px;
    text-align: center;
}

.buttonOfModal {
    margin-top: 5%;
    width: 100px;
}

.inputOfModal {
    margin-top: 5%;
    width: 230px;
    height: 30px;
}

.Pmodal {
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pmodal-content {
    width: 600px;
    height: 750px;
    background-image:url("https://www.wallpaperflare.com/static/620/540/1004/red-green-white-abstract-wallpaper.jpg");
    border-radius: 4px;
    text-align: center;
}