body {
    margin: 0;
    background-image: url("https://www.wallpaperflare.com/static/620/540/1004/red-green-white-abstract-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}